fastapi
uvicorn
pydantic
numpy
langchain
langchain-openai
langchain-milvus
langgraph
sentence-transformers
pymilvus
azure-storage-blob
python-docx
python-pptx
PyMuPDF
langdetect
playwright
html2text
tiktoken
spacy